@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("HelveticaNeueLTPro-Roman.woff2") format("woff2"),
    url("HelveticaNeueLTPro-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Pro Bold Cd";
  src: url("helveticaneueltpro-bdcn-webfont.woff2") format("woff2"),
    url("helveticaneueltpro-bdcn-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue LT Pro Bold";
  src: url("HelveticaNeueLTPro-Bd.woff2") format("woff2"),
    url("HelveticaNeueLTPro-Bd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue LT Pro Md";
  src: url("HelveticaNeueLTPro-Md.woff2") format("woff2"),
    url("HelveticaNeueLTPro-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Pro Italic";
  src: url("helveticaneueltpro-it-webfont.woff2") format("woff2"),
    url("helveticaneueltpro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
